body {
    margin: 0 auto;
    width: 1200px;
    background-color: bisque; 
}

header{
    margin-bottom: 80px;
    display: inline-block;
    padding: 45px;

}

main {
    background-color: aquamarine;
}

