

body {
    margin: 0 auto;
    width: 1200px;
    background-color: bisque; 
}

header{
    margin-bottom: 40px;
    display: inline-block;
    padding: 20px;
    background-color: rgba(235, 136, 15, 0.655);
    border-radius: 12px;
}

main {
    background-color: aquamarine;
}




